<!-- CREATE NEW COCKTAIL -->
<div class = "container text-center">
  <div class="form">
    <%= simple_form_for [@cocktail] do |f| %>
        <%= f.input :name %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit %>
    <% end %>
 </div>

<!-- link to index page -->
<p><%= link_to "Back to list of cocktails", cocktails_path %></p>

</div>
