<!-- DISPLAY GIVEN COCKTAIL BY ITS ID -->


<%= @cocktail.name %>
<p>Ingredients: </p>
<ul>

<% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> <%= dose.ingredient.name %></li>
<% end %>
</ul>




<!-- "#{@cocktail.doses[2].description} #{@cocktail.doses[2].ingredient.name}" -->
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail.id) %>
<%= link_to "Back to list of cocktails", cocktails_path %>
