<!-- DISPLAY GIVEN COCKTAIL BY ITS ID -->

<div class = "container text-center">

  <h2><%= @cocktail.name %></h2>
  <p>Ingredients: </p>

  <ul style="list-style: none">
   <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> <%= dose.ingredient.name %></li>
    <% end %>
  </ul>

</div>

<div class="container text-center">


  <h4 id="links"> <%= link_to "Add dose", new_cocktail_dose_path(@cocktail.id) %> </h4>
  <h4 id="links"><%= link_to "Back to list of cocktails", cocktails_path %></h4>
</div>
