<!-- CREATE(ADD) NEW DOSE TO AN EXISTING COCKTAIL -->

<div class = "container">

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>

    <%= f.submit %>
  <% end %>


  <%= link_to "Back to cocktail", cocktail_path(@cocktail) %>
</div>
